*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CONTAINERS */

body {
  display: flex;
  justify-content: center;
  background-color: #6A7EAD;
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.message-container {
  padding-top: 3rem;
}

.game-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  width: 80%;
}

.game-mode-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.game-mode-section:first-child .rules-container p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
  font-family: 'Luckiest Guy';
}

.game-mode-section:nth-child(2) .rules-container p {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  justify-content: center;
  font-family: 'Luckiest Guy';
  font-size: 1.3vw;
}

.rules-container {
  text-align: center;
  width: 100%;
  font-size: 3vmin;
  align-items: center;
  width: 80%;
}

.rules-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;

}

.fighter-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;

}

.chosen-fighters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fighter-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

.fighter-container-top-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.fighter-container-bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.computer-player-container,
.user-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100vh;
  background-color: #8499C5;
  padding-top: 5vh;
  font-family: 'Luckiest Guy';
  color: #FFFFFF;
  overflow: hidden;
}

/* HEADERS & TEXT */

.main-title {
  font-family: 'Luckiest Guy';
  font-size: 8vmin;
  color: #FFFFFF;
  padding-top: 15px;
}

.message-container p {
  font-family: 'Luckiest Guy';
  font-size: 4vmin;
  color: #FFFFFF;
}

.fighter-label {
  font-family: 'Luckiest Guy';
  font-size: 2vmin;
  color: #FFFFFF;
  padding-top: 10px;
}

#userFighterLabel,
#computerFighterLabel {
  font-family: 'Luckiest Guy';
  font-size: 3vh;
  color: #FFFFFF;
  padding-top: 20px;
}

.or-text {
  margin: 15px;
  padding-top: 8px;
}

.player-emoji {
  text-align: center;
  font-size: 5vmin;
  padding-top: 8vh;
}

.user-wins,
.computer-wins {
  padding: 20px;
  font-size: 3vmin;
}

/* BUTTONS, CLICKABLE ELEMENTS, & ICONS */

.game-mode-button {
  display: flex;
  justify-content: center;
  background-color: #475376;
  font-family: 'Luckiest Guy';
  font-size: 4vh;
  color: #FFFFFF;
  margin: 15px;
  cursor: pointer;
  padding: 12px 0px 2px 0px;
  width: 20vmin;
  border: 5px solid #FFFFFF;
  border-radius: 10px;
}

.game-mode-button:hover {
  background-color: #FFFFFF;
  color: #475376;
  transform: scale(1.2);
  border: 5px solid #475376;
  border-radius: 4px;
}

.choose-fighter-button {
  background-color: #8499C5;
  background: transparent;
  border: none;
  width: 12vw;
}

.choose-fighter-button:hover {
  cursor: pointer;
  background-color: #6A7EAD;
  border: none;
  transform: scale(1.3);
}

.choose-fighter-button:hover .fighter-label {
  color: #FFFFFF;
}

.change-game-button {
  padding: 20px 10px 20px 10px;
  color: #FFFFFF;
  background-color: #475376;
  font-family: 'Luckiest Guy';
  font-size: 2.5vmin;
}

.change-game-button:hover {
  padding: 15px;
  cursor: pointer;
  color: #475376;
  background-color: #FFFFFF;
  transform: scale(1.1);
}

.chosen-fighters-container .fighter-icon {
  width: 60%;
}

.fighter-icon {
  width: 90%;
  height: 80%;
  padding: none;
  margin: none;
  border: none;
}

.mini-icon {
  width: 18%;
  background-color: none;
  margin: 5px 0px;
}

.mini-operator-icon {
  width: 8%;
  background-color: none;
  margin: 15px;
}

#userFighterIcon,
#computerFighterIcon {
  width: 20vh;
}

#lizardButton,
#spockButton {
  margin: 20px 60px;
}

/* HIDDEN */

.hidden {
  display: none;
}