/* Elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #6A7EAD;
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

/* Classes */

.fighter-label {
  font-family: 'Luckiest Guy';
  font-size: 2vh;
  color: #FFFFFF;
}

.choose-fighter-button:hover .fighter-label {
  color: #505050;
}

.main-title {
  font-family: 'Luckiest Guy';
  font-size: 5.5vw;
  color: #FFFFFF;
  padding-top: 40px;
}

.button-header {
  display: inline-block;
  font-family: 'Press Start 2P';
  font-size: 3vh;
  margin-bottom: 10px;
}

.rules {
  display: inline-block;
  font-family: 'Luckiest Guy';
  font-size: 2vh;
  margin-bottom: 10px;
}

.game-mode-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

}

.game-mode-button {
  background-color: #505050;
  font-size: 1rem;
  color: #FFFFFF;
  margin: 15px;
  cursor: pointer;
  padding: 20px;
}

.game-mode-button:hover {
  background-color: #FFFFFF;
  color: #505050;
  transform: scale(1.2);

}

.change-game-button {
  padding: 10px;
  color: #FFFFFF;
  background-color: #475376;
}

.change-game-button:hover {
  cursor: pointer;
  padding: 10px;
  color: #475376;
  background-color: #FFFFFF;
  transform: scale(1.2);
}

.computer-player-container,
.user-player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  background-color: #8499C5;
  padding-top: 5vh;
  font-family: 'Gochi Hand';
  font-size: 3vh;
  color: #FFFFFF;
  overflow: hidden;
}

.message-container p {
  font-family: 'Gochi Hand';
  font-size: 3vw;
  color: #FFFFFF;
}

.message-container {
  padding-top: 6rem;
}

.player-emoji {
  text-align: center;
  font-size: 5vh;
}

.user-wins,
.computer-wins {
  padding: 20px;
  font-size: 3vh;
}

.fighter-container {
  padding-top: 100px;
}

.chosen-fighters-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chosen-fighters-container .fighter-icon {
  width: 60%;
}

.choose-fighter-button {
  background-color: #8499C5;
  background: transparent;
  border: none;
  width: 10vw;
}

.choose-fighter-button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
  transform: scale(1.1);
}

.fighter-icon {
  width: 90%;
  height: 80%;
  padding: none;
  margin: none;
  border: none;
}

.fighter-container {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

/* IDs */

#userFighterIcon,
#computerFighterIcon {
  width: 20vh;
}